name: CI deploy prod

on:
  workflow_dispatch:
    branches:
      - main
    permissions:
      users:
        - fibonacci998
    inputs:
      version:
        type: string
        description: Release version
        required: true

jobs:
  lint:
    if: github.actor == 'fibonacci998'
    uses: ./.github/workflows/lint.yml
    secrets: inherit
  test:
    if: github.actor == 'fibonacci998'
    uses: ./.github/workflows/test.yml
    secrets: inherit
  build:
    if: github.actor == 'fibonacci998'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set environment variable
        run: |
          echo CONTAINER_RELEASE_IMAGE=ghcr.io/aura-nw/erascope:${{ inputs.version }}>> $GITHUB_ENV
      - name: Build the Docker image and push it to the registry
        env:
          GITHUB_USERNAME: ${{ github.actor }}
          GITHUB_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          ./ci/build.sh
  updateManifest:
    needs: [lint, test, build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: imranismail/setup-kustomize@v2
      - name: Set environment variable
        run: |
          echo CONTAINER_RELEASE_IMAGE=ghcr.io/aura-nw/erascope:${{ inputs.version }}>> $GITHUB_ENV
          echo REPO_MANIFEST_NAME=gitops-prod >> $GITHUB_ENV
          echo REPO_MANIFEST_URL=github.com/aura-nw/gitops-prod.git >> $GITHUB_ENV
          echo REPO_MANIFEST_BRANCH=main >> $GITHUB_ENV
          echo REPO_MANIFEST_ENV_MAIN=./clusters/k8s-xstaxy/horoscope-v2/horoscope-crawl-xstaxy >> $GITHUB_ENV
          echo REPO_MANIFEST_TAG_IMAGE=image_erascope >> $GITHUB_ENV
      - name: Update manifest
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.REGISTRY_PASSWORD }}
        run: |
          ./ci/updateManifest.sh
